/* Author: Cristian Gonzales
 * Created for Physical Time, 2018
 */

/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Import font families
 */
@font-face
{
    font-family: 'Grand Hotel';
    src: url('fonts/GrandHotel-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Vibur';
    src: url('fonts/Vibur-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Zilla Slab Highlight';
    src: url('fonts/ZillaSlabHighlight-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Zilla Slab Highlight';
    src: url('fonts/ZillaSlabHighlight-Bold.ttf') format('truetype');
    font-style: bold;
}

/* Removing any sort of text decoration from links or its attributes
 */
a
{
    text-decoration: none;
    color: black;
    outline: 0;
}

/* Removing any sort of text decoration from links or its attributes
 */
a:focus
{
    text-decoration: none;
    color: black;
    outline: 0;
}

/* Removing any sort of text decoration from links or its attributes
 */
a:link
{
    text-decoration: none;
    color: black;
    outline: 0;
}

/* Removing any sort of text decoration from links or its attributes
 * (after it has been visited)
 */
a:visited
{
    text-decoration: none;
    color: black;
    outline: 0;
}

/* Removing any sort of text decoration from links or its attributes
 * (when it is hovered over...)
 */
a:hover
{
    text-decoration: none;
    color: black;
    outline: 0;
}

/* Removing any sort of text decoration from links or its attributes
 */
a:active
{
    text-decoration: none;
    color: black;
    outline: 0;
}

/* Resizing and positioning for the "Physical Time" header
 */
.main-header
{
    font-size: 60px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Resizing for the gears GIF
 */
.resize-small
{
    max-width: 20%;
    max-height: 20%;
}

/* Placing the "loading" GIF at the footer of the page
 */
.bottom
{
    position: absolute;
    bottom: 60px;
    left:0;
    right:0;
    margin: auto;
}

/* Styling for the about header
 */
.about-header
{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-size: 35px;
    color: black;
}

/* Styling for the about paragraph
 */
.about-paragraph
{
    position: absolute;
    top: 15%;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 20px;
    color: black;
}

/* Styling for the about CONTINUE button
 */
.about-continue
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

/* Resizing and positioning for "Welcome to Physical Time"
 */
.physical-time-header
{
    font-size: 35px;
    padding: 15px;
    position: absolute;
    top: 8%;
    color: black;
}

/* General button styling
 */
.button {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Button position for clock button
 */
.clock-button
{
    top: 45%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
}

/* Button position for feature2 button
 */
.feature2-button
{
    top: 45%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
}

/* Button position for stats button
 */
.stats-button
{
    top: 70%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
}

/* Button position for settings button
 */
.settings-button
{
    top: 70%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
}

/* Images for the buttons (position and size only--the *-image classes have
    positioning dimensions specific to each image)
 */
.button-images
{
    position: absolute;
    max-width: 15%;
    max-height: 15%;
}

/* Image position for the clock
 */
.clock-image
{
    top: 43%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
}

/* Image position for feature2
 */
.feature2-image
{
    top: 43%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
}

 /* Image position for stats
  */
 .stats-image
 {
     top: 68%;
     left: 25%;
     transform: translateX(-50%) translateY(-50%);
 }

 /* Image position for settings
  */
 .settings-image
 {
     top: 68%;
     left: 75%;
     transform: translateX(-50%) translateY(-50%);
 }

/* Header positioning and size for clock
 */
.clock-header
{
    position: absolute;
    font-size: 15px;
    top: 48%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
}

/* Header positioning and size for feature2
 */
.feature2-header
{
    position: absolute;
    font-size: 15px;
    top: 48%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
}

/* Header positioning and size for stats
 */
.stats-header
{
    position: absolute;
    font-size: 15px;
    top: 73%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
}

/* Header positioning and size for settings
 */
.settings-header
{
    position: absolute;
    font-size: 15px;
    top: 73%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
}

/* CSS for the D3 clock
 */
svg.clock
{
    stroke-linecap: round;
}

.face
{
    stroke: #aac;
    stroke-width: 6;
}

.hourtick.face
{
}

.minutetick.face
{
    stroke-width: 2;
}

.hand
{
    stroke: #336;
    stroke-width: 8;
}

.hour.hand
{
    stroke-width: 12;
}

.minute.hand
{
}

.second.hand
{
    stroke: red;
    stroke-width: 6;
}

.mellow.hand
{
    stroke: green;
    stroke-width: 4;
}

#clock-face
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Styling for the form
 */
#name
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#email
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#subject
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#message
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

input[type=text]
{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 15px;
}

input[type=submit]
{
    width: 20%;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 10px;

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Styling for the "BACK" button where the clock is
 */
.clock-back-button
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zilla Slab Highlight', cursive;
}

/* Styling for the "BACK" button where the stats page is
 */
.stats-back-button
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: 'Zilla Slab Highlight', cursive;
}

/* All styling for the stats headers and paragraphs
 */
#stats-header
{
    position: absolute;
    top: 10%;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 25px;
    font-family: 'Zilla Slab Highlight', cursive;
    color: black;
}

#stats-time
{
    position: absolute;
    top: 35%;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 20px;
    font-family: 'Zilla Slab Highlight', cursive;
    color: black;
}

#stats-next
{
    position: absolute;
    top: 45%;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 20px;
    font-family: 'Zilla Slab Highlight', cursive;
    color: black;
}

#stats-paragraph
{
    position: absolute;
    top: 55%;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 10px;
    font-family: 'Zilla Slab Highlight', cursive;
    color: black;
}
